body{
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
}

*{
  margin: 0;
  padding: 0;
  outline: none;
}

a{
  text-decoration: none;
}

a:visited{
  color:#fff;
}

p{
  margin: 0;
}

li{
  list-style: none;
}

main{
  padding: 2em 2.5em;
}

button{
  cursor: pointer;
  border-radius: 10px;
}

button:active{
  outline: none;
}

.top-logo img{
  width: 16em;
}

.action-complete{
  color: #60b060;
  background-color: rgba(124, 204, 124, 0.3);
  margin: 2em 0;
  padding: 1em 0;
  text-align: center;
  display: block;
}
.action-danger{
  color: #ff002b;
  margin: 1em 0;
  text-align: center;
}

.header-all{
  width: 100%;
}

.header-top{
  line-height: 4em;
  text-align: center;
  background-color: rgba(30, 30, 30, 0.9);
}

.footer-add{
}

.top-menu{
  color: rgba(255, 255, 255, 0.9);
  margin-right: 0.5em;
  margin-left: 0.5em;
}

a.top-menu:visited{
  color: #fff;
}

a.top-menu:hover{
  text-decoration: underline;
  color:#fff;
}


/*///////////// menu.top ////////////*/
.all-title{
  font-size: 4em;
  text-align: center;
}

.top-wrap{
  width: 90%;
  margin: 0 auto;
}

.top-image{
  position: relative;
  background-image: url(../imgLayout/top-image.jpeg);
  background-size: cover;
  margin-bottom: 5em;
  height: 43em;
  z-index: 100;
}

.top-image h1{
  display: inline-block;
  border: 3px solid #fff;
  color: #fff;
  padding: 13px 23px;
  margin-top: 1em;
  margin-left: 2em;
}

.img-filter{
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  z-index: 50;
  height: 100%;
  width: 100%;
  color: #e9e9e9;
}

.top-middle{

}

.top-middle-list{
  margin-left: 2em;
  font-size: 1.3em;
}

.top-button{
  text-align: center;
}

button.decide{
  font-size: 1.2em;
  padding:1.5em 5em;
  margin-top: 60px;
  background-color: #d00939;
  color: rgba(255, 255, 255, 0.9);
  border-color: #b00939;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

button.decide:active{
  transform: translateY(5px);
  box-shadow: none;
}

/*///////////// menu.list and menu.favolist////////////*/

.list-image{
  position: relative;
  background-image: url(../imgLayout/list-image.jpeg);
  background-size: cover;
  margin-bottom: 5em;
  height: 30em;
  z-index: 100;
}

.favo-image{
  position: relative;
  background-image: url(../imgLayout/favo-image.jpeg);
  background-size: cover;
  margin-bottom: 5em;
  height: 30em;
  z-index: 100;
}

.list-page-name{
  margin-top: 1em;
  margin-left: 2em;
}

.list-page-name p{
  margin-left:1em;
}

.list-all{
  width: 80%;
  margin: 2em auto;
}

.list-items{
  display: flex;
  flex-direction: row;
}

.list-item{
  border: 2px solid #aaa;
  padding: 1em;
  margin: 2em 1.5em;
  display: inline-block;
}

.list-item p{
  margin: 0.5em 0;
}

.item-name, .item-name:visited{
  color: #000;
  text-align: center;
}

.item-name img{
  width: 16em;
}

.form_favo{
  text-align: center;
}

.favorite_list{
  color: #fff;
  font-size: 10px;
  padding: 0.5em 1em;
  border-radius: 4px;
  display: inline-block;
  margin: 0 auto;
  background-color: #e6c300;
  border: 1px solid #998200;
}

.non{
  font-size: 20px;
}

/*///////////// menu.detail ////////////*/

.detail-item{
  text-align: center;
}

.detail-item img{
  width: 60%;
}

.recipe{
  margin: 3em 10em;
}

.recipe p{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1em;
}

.recipe li{
  margin: 1em 4.5em;
  border-bottom: 1px solid #ddd;
}

.recipe-item a{
  display: block;
}

.recipe-item span{
  float: right;
}

.detail-btn{
  display: flex;
  justify-content:center;
}

.edit,.delete,.favorite{
  color: #fff;
  padding: 1em 2.5em;
  border-radius: 4px;
  display: inline-block;
  margin: 0 2em;
}

button.edit{
  background-color: #28b5ff;
  border: 1px solid #ddd;
}

button.favorite{
  background-color: #e6c300;
  border: 1px solid #998200;
}

button.delete{
  background-color: #d00939;
  border: 1px solid #b00939;
}

/*///////////// menu.create ////////////*/
.create-image{
  position: relative;
  background-image: url(../imgLayout/create-image.jpeg);
  background-size: cover;
  margin-bottom: 5em;
  height: 30em;
  z-index: 100;
}

.create-all{
  width: 70%;
  margin: 3em auto;
}

.create-recipe{
  margin: 3em 0;
}

.name-add{
  margin-bottom: 2em;
}

.create-title{
  font-size: 20px;
}

.explanation{
  font-size: 13px;
}

/*input CreateMenu*/

.create-all input{
  height: 1.8em;
}

.add-mate{
  margin-bottom: 1em;
}

.dish-name{
  width: 60%;
}

.material{
  width: 16em;
}

.amount-margin{
  margin-left: 2em;
}

.amount{
  width: 3em;
}

.unit{
  width: 3em;
}

#add-wrap{
  margin-bottom: 1.4em;
}

#list-cut,#list-add{
  font-size: 11px;
  padding: 0.5em 1.3em;
  color: #fff;
  border-radius: 6px;
}

#list-add{
  background-color: #ffb000;
  border: 2px solid #ff8f00;
}

#list-cut{
  display: none;
  background-color: #0084ff;
  border: 2px solid #0070ff;
}

.recipe-add-wrap{
  text-align: center;
}

button.recipe-add{
  padding:1.5em 5em;
  background-color: #d00939;
  color: rgba(255, 255, 255, 0.9);
  border-color: #b00939;
  margin: 2em auto 0;
  display: inline-block;
}

/*///////////// menu.create ////////////*/

button.recipe-edit{
  padding:1.5em 5em;
  background-color: #28b5ff;
  color: rgba(255, 255, 255, 0.9);
  border-color: #ddd;
  margin: 2em auto 0;
  display: inline-block;
}

/*///////////// menu.random ////////////*/

.random-item{
  text-align: center;
  margin-bottom: 1em;
}

.choise{
  color: #fff;
  padding: 1em 2.5em;
  border-radius: 4px;
  display: inline-block;
  margin: 0 2em;
  border: 1px solid #b00939;
  background-color: #d00939;
}


/*///////////// menu.login ////////////*/

.login-container{
  position: relative;
  height: 45em;
  background-image: url(../imgLayout/login-image.jpeg);
  background-size: cover;
}

.login-filter{
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 50;
  height: 100%;
  width: 100%;
  color: #e9e9e9;
}

.login-wrap{
  width: 70%;
  margin: 0 auto;
  padding-top: 10em;
  text-align: center;
}

.login-header{
  font-size: 2em;
  margin-bottom: 0.7em;
}

.form-wrap{
}

.form-texts{
  padding-bottom: 1.5em;
  width: 75%;
  margin: 0 auto;
}

.add-email-sp{
  margin-right: 2em;
}

.add-pass-sp{
}

.form-texts label{
  display: inline;
}

.exist-err{
  color: #c4000a;
  display: block;
  padding-top: 1em;
}

.input-form{
  width: 70%;
  display: inline-block;
  margin-left: 2.5em;
}

.input-pass{
  width: 50%;
  display: inline-block;
  margin-left: 5em;
}

#email,#password{
  width: 100%;
  padding: 0.5em 0.7em;
  border-radius: 4px;
  border: none;
  opacity:0.6;
}
 #email:focus,#password:focus{
   border: 3px solid rgba(15,70,155,0.3);
 }


.login-btn{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border: 1px solid #e9e9e9;;
  border-radius: .25rem;
  transition: 1s;
  color: #e9e9e9;
  background-color: #222;
  padding: 0.8em 1.5em;
  font-size: .9rem;
}

.login-btn:hover{
  background-color: #d2b071;
}

.other-link a{
  text-decoration: underline;
}

.other-link a:hover{
  transition: 1s;
  color: #d2b071;
}

.btn-space{
  padding: 0.4em .8em;
  font-size: .9rem;
}

.form-remember{
  display: block;
  margin-bottom: 1.5em;
}


/*///////////// menu.register ////////////*/

.register-container{
  position: relative;
  height: 45em;
  background-image: url(../imgLayout/register-image.jpeg);
  background-size: cover;
}

.add-name-sp{
  margin-right: -3em;
}

.add-confirm-sp{
  margin-right: 2em;
}

#name,#password-confirm{
  width: 100%;
  padding: 0.5em 0.7em;
  border-radius: 4px;
  border: none;
  opacity:0.6;
}
 #name:focus,#password-confirm:focus{
   border: 3px solid rgba(15,70,155,0.3);
 }
